{
  "content": null,
  "embeds": [
    {
      "title": "Regras",
      "description": "Mesmo sendo um servidor privado, destinado apenas a amigos, ainda assim são necessárias regras para que o servidor não vire um puteiro assim como aconteceu com o Sake, as regras estarão listadas abaixo:",
      "color": 10027247,
      "fields": [
        {
          "name": "#1",
          "value": "> Sem spammar em qualquer chat que não seja o #『🚫』sem-regras-o-retorno"
        },
        {
          "name": "#2",
          "value": "> Sem tretinha no servidor, esse foi o ponto principal que fez o Sake acabar e eu não quero que se repita"
        },
        {
          "name": "#3",
          "value": "> Às pessoas com cargo mais alto, não mudem algo significante no servidor sem que a mudança seja de consenso geral"
        },
        {
          "name": "#4",
          "value": "> Não seja um babaca"
        },
        {
          "name": "#5",
          "value": "> Respeite as opiniões e gostos pessoais de todos"
        }
      ]
    }
  ]
}
